spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/demo
    username: demo
    password: demo
  jpa:
    hibernate:
      ddl-auto: none
  flyway:
    enabled: true

app:
  security:
    jwt:
      secret: Lx9p9jf2hxG5FHT9OHgbIVluIFV2R3EauOzRhvoQSzU=
