spring:
  main:
    lazy-initialization: true
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://${DB_HOST:postgres-service}:${DB_PORT:5432}/${DB_NAME:demo}}
    username: ${SPRING_DATASOURCE_USERNAME:${DB_USERNAME:}}
    password: ${SPRING_DATASOURCE_PASSWORD:${DB_PASSWORD:}}
    hikari:
      maximum-pool-size: 3
      minimum-idle: 1
  jpa:
    hibernate:
      ddl-auto: validate

server:
  tomcat:
    threads:
      max: 10
      min-spare: 2
    max-connections: 50
    accept-count: 10
